<div class="aboutContainer" ng-controller="AboutController as about">
  <div class="left">
    <img class="headshot" src="../../assets/headshot.jpg">
    <div class="linkContainer">
      <a class="resume" href="#">View My Resume</a>
      <div class="logo-box">
        <a href="https://www.linkedin.com/in/samantha-davis-85386a92" target="_blank"><img src=../../assets/linkedinLogo.png></a>
        <a href="https://twitter.com/samsheadavis" target="_blank"><img src=../../assets/twitterLogo.png></a>
      </div>
    </div>
  </div>
  <div class="right">
    <p class="title">About Me</p>
    <p class="statement">
    <span>  Junior Front-End Developer from Durham, NC with a background in marketing and SEO.</span>
    <br><br>  I'm passionate about code, startups, education, poetry, and cheese (not necessarily in that order). As a recent graduate of the
      Front End Engineering course at <a href="https://www.theironyard.com/">The Iron Yard</a> I'm excited to begin pursuing a career in web development.
    </p>
    <div class="icon-box">
      <div class="icon">
        <img src="../../assets/results.png" alt="Graph by gayatri from the Noun Project" />
        <p>
          Results Driven
        </p>
        <p class="detail">
          Experience analyzing landing pages and marketing campaigns for SEO
          has taught me to work towards both quantitative and qualitative performance indicators.
          In other words, applications should be beautiful but they should also work beautifully.
        </p>
      </div>
      <div class="icon">
        <img src="../../assets/detail.png" alt="magnify by TS Graphics from the Noun Project" />
        <p>
          Detail Oriented
        </p>
        <p class="detail">
          A focus on writing and copy-editing has given me a sharp eye for errors and ways to improve my work.
          This attention to detail translates into my code, where details can either make or break a project.
        </p>
      </div>
      <div class="icon">
        <img src="../../assets/education.png" alt="Book by Rockicon from the Noun Project" />
        <p>
          Education Focused
        </p>
        <p class="detail">
          I took three months out of my life to devote to learning a new skill at the Iron Yard, and I don't
          intend to stop there. One of the things I love about coding is the way the industry constantly
          changes as languages and tools are optimized and updated every day, and I plan to keep up.
        </p>
      </div>
    </div>
  </div>
</div>
