<div class="aboutContainer" ng-controller="AboutController as about">
  <div class="left">
    <img class="headshot" src="../../assets/headshot.jpg">
    <div class="linkContainer">
      <a class="resume" href="#">View My Resume</a>
      <div class="logo-box">
        <a href="https://www.linkedin.com/in/samantha-davis-85386a92" target="_blank"><img src=../../assets/linkedinLogo.png></a>
        <a href="https://twitter.com/samsheadavis" target="_blank"><img src=../../assets/twitterLogo.png></a>
      </div>
    </div>
  </div>
  <div class="right">
    <p class="title">About Me</p>
    <p class="statement">
      I'm a Junior Front-End Developer from Durham, NC with a background in marketing and SEO.
    <br><br>  I'm passionate about code, startups and education. As a recent graduate of the
      Front End Engineering course at the Iron Yard I'm excited to begin pursuing a career in web development.
    </p>
    <div class="icon-box">
      <div class="icon">
        <img src="../../assets/results.png" alt="Graph by gayatri from the Noun Project" />
        <p>
          Results Driven
        </p>
      </div>
      <div class="icon">
        <img src="../../assets/detail.png" alt="magnify by TS Graphics from the Noun Project" />
        <p>
          Detail Oriented
        </p>
      </div>
      <div class="icon">
        <img src="../../assets/education.png" alt="Book by Rockicon from the Noun Project" />
        <p>
          Education Focused
        </p>
      </div>
    </div>
  </div>
</div>
