<div class="projects-container">
    <div class="project-nav">

    </div>
    <div class="timeline-container">
        <section>
            <div class="left-container img">
                <img class="project-img" src="../../assets/codeKarma.png" alt="Code Karma Webpage Snapshot">
            </div>
            <div class="line">
                <div class="marker">
                    <img src="../../assets/point.png" alt="circle dot by Hector from the Noun Project" />
                </div>
            </div>
            <div class="right-container text">
                <p>December 2, 2016</p>
                <h1>Code Karma</h1>
                <p>A motivational open source platform for developers to collaborate with nonprofits.</p>
                <div class="btn-container">
                    <h2>Languages <img src="../../assets/down.png" alt="down by To Uyen from the Noun Project" /></h2>
                    <ul class="lang-container">
                        <li>AngularJS</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>JQuery UI</li>
                        <li>AJAX</li>
                        <li>HTML5</li>
                        <li>Sass</li>
                    </ul>
                </div>
            </div>
    </div>
    </section>
    <section>

    </section>
</div>
</div>
