<div class="projects-container">
    <div class="project-nav">

    </div>
    <div class="line">
    </div>
    <div class="timeline-container">
        <section ng-repeat="project in projects">
            <div class="left-container img">
                <a href="{{project.website}}" target="_blank"><img class="project-img" src={{project.img_url}} alt={{project.img_alt}}></a>
            </div>
            <div class="marker">
                <img src="../../assets/point.png" alt="circle dot by Hector from the Noun Project" />
            </div>
            <div class="right-container text">
                <p>{{project.date}}</p>
                <h1>{{project.title}}</h1>
                <p>{{project.description}}</p>
                <div class="btn-container">
                    <h2>Languages <img src="../../assets/down.png" alt="down by To Uyen from the Noun Project" /></h2>
                    <ul class="lang-container" ng-repeat = "language in project.languages">
                        <li>{{language}}</li>
                    </ul>
                </div>
            </div>
    </div>
    </section>
    <section>

    </section>
</div>
</div>
