ul {
  display: flex;
  justify-content: flex-end; }
  ul .title {
    flex-grow: 2;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #1F2020; }
  ul .active {
    padding-bottom: 8px;
    border-bottom: 3px solid #B63C4B; }
  ul .nav-container {
    display: flex; }
    @media only screen and (max-width: 700px) {
      ul .nav-container {
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        right: 20px;
        background: linear-gradient(#B63C4B, #DECEBE);
        border-radius: 5px;
        z-index: 5; } }
    @media only screen and (max-width: 440px) {
      ul .nav-container {
        top: 88px;
        left: 50%;
        width: 100px;
        transform: translateX(-50%); } }
  ul .mobile-menu {
    display: none;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    position: absolute;
    top: 15px;
    right: 40px;
    transition: all 0.5s ease; }
    @media only screen and (max-width: 700px) {
      ul .mobile-menu {
        display: block;
        z-index: 6; } }
    @media only screen and (max-width: 440px) {
      ul .mobile-menu {
        top: 88px;
        left: 50%;
        transform: translateX(-50%); } }
  ul li {
    margin: 15px;
    list-style: none; }
    @media only screen and (max-width: 780px) {
      ul li {
        margin: 10px; } }
    ul li:hover {
      cursor: pointer; }
    ul li a {
      font-family: "Raleway", sans-serif;
      text-decoration: none;
      position: relative;
      display: inline-block;
      font-size: 19px;
      font-weight: 300;
      color: #1F2020;
      transition: color 0.2s ease;
      padding: 3px 0; }
      ul li a:hover::after, ul li a:hover::before {
        width: 100%;
        left: 0; }
    ul li a::after, ul li a::before {
      content: '';
      position: absolute;
      top: calc(100% + 5px);
      width: 0;
      right: 0;
      height: 3px; }
    ul li a::before {
      transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      background: #DECEBE; }
    ul li a::after {
      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: #B63C4B; }
  @media only screen and (max-width: 700px) {
    ul .home {
      margin-top: 75px; } }
  ul li:nth-child(4) {
    margin-right: 50px; }
    @media only screen and (max-width: 700px) {
      ul li:nth-child(4) {
        margin-right: 10px; } }

.tabs {
  position: absolute;
  top: 29px;
  left: 360px;
  font-family: "Raleway", sans-serif; }
  @media only screen and (max-width: 1220px) {
    .tabs {
      left: 300px; } }
  @media only screen and (max-width: 1000px) {
    .tabs {
      left: 50px;
      margin-top: 66px; } }
  @media only screen and (max-width: 780px) {
    .tabs {
      margin-top: 56px; } }
  @media only screen and (max-width: 700px) {
    .tabs {
      margin-top: 0;
      top: 415px; } }
  @media only screen and (max-width: 560px) {
    .tabs {
      top: 580px; } }
  @media only screen and (max-width: 440px) {
    .tabs {
      top: 591px;
      left: 70px; } }
  .tabs li {
    border: 5px solid rgba(222, 206, 190, 0.5);
    padding: 15px;
    margin: 0;
    border-bottom: none;
    border-radius: 5px 5px 0 0; }
    @media only screen and (max-width: 440px) {
      .tabs li {
        padding: 10px; } }
    .tabs li:hover {
      background: rgba(222, 206, 190, 0.5);
      transform: scale(1.1) translateY(-3px); }
  .tabs .active {
    background: white;
    z-index: 1;
    border-bottom: 5px solid white;
    color: #1F2020;
    transform: scale(1.1) translateY(-2.5px); }

.aboutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  @media only screen and (max-width: 700px) {
    .aboutContainer {
      flex-direction: column; } }
  .aboutContainer .left {
    box-sizing: border-box;
    margin-left: 56px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-radius: 5px;
    height: 77vh;
    background: linear-gradient(#B63C4B, #DECEBE, white); }
    @media only screen and (max-width: 1220px) {
      .aboutContainer .left {
        position: absolute;
        right: 40px;
        top: 100px;
        justify-content: flex-start; } }
    @media only screen and (max-width: 1000px) {
      .aboutContainer .left {
        top: 138px; } }
    @media only screen and (max-width: 700px) {
      .aboutContainer .left {
        position: static;
        flex-direction: row;
        margin: 15px 0;
        height: 300px;
        width: 85%;
        justify-content: space-around; } }
    @media only screen and (max-width: 560px) {
      .aboutContainer .left {
        flex-direction: column;
        height: 400px;
        margin-top: 80px; } }
    @media only screen and (max-width: 440px) {
      .aboutContainer .left {
        width: 95%; } }
    .aboutContainer .left .headshot {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
      margin-bottom: 50px; }
      @media only screen and (max-width: 700px) {
        .aboutContainer .left .headshot {
          width: 50%; } }
    .aboutContainer .left .linkContainer {
      display: flex;
      flex-direction: column; }
      .aboutContainer .left .linkContainer .resume {
        margin-bottom: 30px;
        text-decoration: none;
        color: #1F2020;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        background: rgba(182, 60, 75, 0.5);
        padding: 10px;
        border-radius: 5px; }
        @media only screen and (max-width: 1000px) {
          .aboutContainer .left .linkContainer .resume {
            text-align: center; } }
        .aboutContainer .left .linkContainer .resume:hover {
          background: #B63C4B; }
      .aboutContainer .left .linkContainer .logo-box {
        display: flex;
        justify-content: space-between; }
        .aboutContainer .left .linkContainer .logo-box img {
          width: 35px;
          padding: 10px;
          border-radius: 5px; }
          .aboutContainer .left .linkContainer .logo-box img:hover {
            background: rgba(182, 60, 75, 0.5); }
  .aboutContainer .right {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 67%;
    margin-left: 56px;
    border: 5px solid rgba(222, 206, 190, 0.5);
    border-radius: 5px;
    height: 77vh;
    font-family: "Raleway", sans-serif;
    padding: 30px; }
    @media only screen and (max-width: 1220px) {
      .aboutContainer .right {
        height: auto; } }
    @media only screen and (max-width: 1000px) {
      .aboutContainer .right {
        margin-top: 50px;
        width: 65%; } }
    @media only screen and (max-width: 700px) {
      .aboutContainer .right {
        margin-top: 50px;
        margin-left: 0;
        width: 85%; } }
    @media only screen and (max-width: 440px) {
      .aboutContainer .right {
        width: 95%; } }
    .aboutContainer .right .skills {
      width: 93%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5px;
      height: 87%;
      font-family: "Raleway", sans-serif;
      padding: 30px;
      background: white;
      display: none; }
      @media only screen and (max-width: 1220px) {
        .aboutContainer .right .skills {
          width: 89%; } }
      @media only screen and (max-width: 1000px) {
        .aboutContainer .right .skills {
          width: 86%;
          height: 90%; } }
      @media only screen and (max-width: 780px) {
        .aboutContainer .right .skills {
          height: 93%; } }
      @media only screen and (max-width: 560px) {
        .aboutContainer .right .skills {
          width: 81%; } }
      .aboutContainer .right .skills .skills-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        color: #1F2020; }
        .aboutContainer .right .skills .skills-container section {
          width: 33.33%;
          box-sizing: border-box;
          padding: 0 15px 15px; }
          @media only screen and (max-width: 1000px) {
            .aboutContainer .right .skills .skills-container section {
              width: 50%; } }
          @media only screen and (max-width: 560px) {
            .aboutContainer .right .skills .skills-container section {
              width: 100%; } }
          .aboutContainer .right .skills .skills-container section h2 {
            margin: 0 0 15px; }
          .aboutContainer .right .skills .skills-container section li {
            list-style: none;
            margin-bottom: 5px; }
            .aboutContainer .right .skills .skills-container section li:hover {
              transform: scale(1.2);
              cursor: pointer; }
            .aboutContainer .right .skills .skills-container section li:hover > span {
              display: block; }
            .aboutContainer .right .skills .skills-container section li span {
              color: #B63C4B;
              display: none; }
          .aboutContainer .right .skills .skills-container section .beginner:before {
            content: '';
            margin-right: 5px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgba(182, 60, 75, 0.5); }
          .aboutContainer .right .skills .skills-container section .intermediate:before {
            content: '';
            margin-right: 5px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #B63C4B; }
          .aboutContainer .right .skills .skills-container section .advanced:before {
            content: '';
            margin-right: 5px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #69232b; }
      .aboutContainer .right .skills .guide {
        position: absolute;
        display: flex;
        right: 0;
        bottom: 0; }
        @media only screen and (max-width: 440px) {
          .aboutContainer .right .skills .guide {
            flex-direction: column;
            left: 25px; } }
        .aboutContainer .right .skills .guide p {
          margin: 15px 20px; }
        .aboutContainer .right .skills .guide p:nth-child(1):before {
          content: '';
          margin-right: 5px;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: rgba(182, 60, 75, 0.5); }
        .aboutContainer .right .skills .guide p:nth-child(2):before {
          content: '';
          margin-right: 5px;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #B63C4B; }
        .aboutContainer .right .skills .guide p:nth-child(3):before {
          content: '';
          margin-right: 5px;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #69232b; }
    .aboutContainer .right .interests {
      width: 93%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5px;
      height: 87%;
      font-family: "Raleway", sans-serif;
      padding: 30px;
      background: white;
      display: none; }
      @media only screen and (max-width: 1220px) {
        .aboutContainer .right .interests {
          width: 89%; } }
      @media only screen and (max-width: 1000px) {
        .aboutContainer .right .interests {
          width: 86%;
          height: 90%; } }
      @media only screen and (max-width: 780px) {
        .aboutContainer .right .interests {
          height: 93%; } }
      @media only screen and (max-width: 560px) {
        .aboutContainer .right .interests {
          width: 81%; } }
    .aboutContainer .right .title {
      font-family: "Raleway", sans-serif;
      color: rgba(182, 60, 75, 0.75);
      font-size: 1.5em;
      font-weight: bold;
      margin: 0; }
    .aboutContainer .right .statement {
      font-size: 1.1em;
      line-height: 1.25em; }
      .aboutContainer .right .statement span {
        color: #B63C4B; }
      .aboutContainer .right .statement a {
        text-decoration: none;
        font-weight: bold;
        color: #1F2020; }
        .aboutContainer .right .statement a:hover {
          color: #B63C4B; }
    .aboutContainer .right .icon-box {
      display: flex;
      justify-content: space-around; }
      @media only screen and (max-width: 1000px) {
        .aboutContainer .right .icon-box {
          flex-wrap: wrap; } }
      .aboutContainer .right .icon-box .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
        margin-right: 20px; }
        @media only screen and (max-width: 1000px) {
          .aboutContainer .right .icon-box .icon {
            width: 100%; } }
        .aboutContainer .right .icon-box .icon p {
          color: #B63C4B;
          font-weight: bold; }
        .aboutContainer .right .icon-box .icon .detail {
          color: #1F2020;
          font-weight: normal;
          font-size: 1em;
          margin: 0; }
          @media only screen and (max-width: 1000px) {
            .aboutContainer .right .icon-box .icon .detail {
              margin-bottom: 20px; } }
        .aboutContainer .right .icon-box .icon img {
          height: 40px; }
      .aboutContainer .right .icon-box .icon:nth-child(3) {
        margin-right: 0; }

.homeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #B63C4B, #DECEBE);
  padding: 20px; }
  @media only screen and (max-width: 1000px) {
    .homeContainer {
      flex-direction: column;
      padding: 0; } }
  .homeContainer p {
    position: absolute;
    top: 110px;
    left: 56px;
    width: 27%;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.5em;
    transition: all 0.5s ease; }
    @media only screen and (max-width: 1000px) {
      .homeContainer p {
        position: relative;
        top: 0;
        left: 0;
        width: 57%;
        text-align: center; } }
    @media only screen and (max-width: 700px) {
      .homeContainer p {
        width: 70%; } }
    @media only screen and (max-width: 440px) {
      .homeContainer p {
        margin-top: 75px; } }
  .homeContainer .hero {
    width: 33%;
    border-radius: 50%;
    padding: 65px 10px;
    background: #DECEBE;
    transition: all 0.5s ease; }
    @media only screen and (max-width: 1220px) {
      .homeContainer .hero {
        width: 40%;
        margin-top: 50px; } }
    @media only screen and (max-width: 1000px) {
      .homeContainer .hero {
        width: 50%;
        margin-top: 10px; } }
    @media only screen and (max-width: 700px) {
      .homeContainer .hero {
        width: 70%; } }
    @media only screen and (max-width: 560px) {
      .homeContainer .hero {
        width: 85%; } }
    @media only screen and (max-width: 440px) {
      .homeContainer .hero {
        padding: 45px 1px;
        width: 100%; } }

.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to right, #B63C4B, #DECEBE); }
  @media only screen and (max-width: 700px) {
    .projects-container {
      margin-top: 35px; } }
  @media only screen and (max-width: 560px) {
    .projects-container {
      margin-top: 90px; } }
  .projects-container .project-nav {
    display: flex; }
  .projects-container .line {
    width: 5px;
    position: absolute;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1; }
    @media only screen and (max-width: 1220px) {
      .projects-container .line {
        left: 53%; } }
    @media only screen and (max-width: 1000px) {
      .projects-container .line {
        left: 57%; } }
    @media only screen and (max-width: 700px) {
      .projects-container .line {
        left: 5%; } }
    @media only screen and (max-width: 440px) {
      .projects-container .line {
        display: none; } }
  .projects-container .timeline-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px; }
    .projects-container .timeline-container section {
      display: flex;
      padding: 30px 0;
      width: 100%;
      justify-content: space-around; }
      @media only screen and (max-width: 700px) {
        .projects-container .timeline-container section {
          flex-direction: column; } }
      .projects-container .timeline-container section .project-img {
        width: 500px;
        transition: all 0.5s ease;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
        margin: 0 20px;
        position: relative;
        z-index: 4; }
        @media only screen and (max-width: 1220px) {
          .projects-container .timeline-container section .project-img {
            margin: 0;
            width: 100%; } }
        @media only screen and (max-width: 700px) {
          .projects-container .timeline-container section .project-img {
            margin-left: 30px;
            width: 95%; } }
        @media only screen and (max-width: 440px) {
          .projects-container .timeline-container section .project-img {
            margin-left: 0;
            width: 100%; } }
        .projects-container .timeline-container section .project-img:hover {
          transform: scale(1.5) translateX(20%); }
          @media only screen and (max-width: 700px) {
            .projects-container .timeline-container section .project-img:hover {
              transform: scale(1.15); } }
      .projects-container .timeline-container section .left-container {
        width: 42%; }
        @media only screen and (max-width: 1220px) {
          .projects-container .timeline-container section .left-container {
            width: 50%; } }
        @media only screen and (max-width: 700px) {
          .projects-container .timeline-container section .left-container {
            width: 100%; } }
      .projects-container .timeline-container section .marker img {
        width: 40px;
        background: #CB8786;
        border-radius: 50%;
        margin-left: 3vw;
        position: relative;
        z-index: 2; }
        @media only screen and (max-width: 700px) {
          .projects-container .timeline-container section .marker img {
            margin-bottom: -47px;
            margin-left: -18px; } }
        @media only screen and (max-width: 440px) {
          .projects-container .timeline-container section .marker img {
            display: none; } }
      .projects-container .timeline-container section .right-container {
        width: 42%;
        margin-left: 40px; }
        @media only screen and (max-width: 1000px) {
          .projects-container .timeline-container section .right-container {
            width: 33.33%; } }
        @media only screen and (max-width: 700px) {
          .projects-container .timeline-container section .right-container {
            width: 95%; } }
        @media only screen and (max-width: 440px) {
          .projects-container .timeline-container section .right-container {
            margin-left: 0;
            width: 100%; } }
        @media only screen and (max-width: 440px) {
          .projects-container .timeline-container section .right-container h1 {
            text-align: center; } }
        @media only screen and (max-width: 440px) {
          .projects-container .timeline-container section .right-container p {
            text-align: center; } }
      .projects-container .timeline-container section .text .btn-container {
        display: flex; }
        @media only screen and (max-width: 1220px) {
          .projects-container .timeline-container section .text .btn-container {
            width: 400px; } }
        @media only screen and (max-width: 1000px) {
          .projects-container .timeline-container section .text .btn-container {
            flex-direction: column-reverse; } }
        @media only screen and (max-width: 700px) {
          .projects-container .timeline-container section .text .btn-container {
            flex-direction: row; } }
        @media only screen and (max-width: 440px) {
          .projects-container .timeline-container section .text .btn-container {
            flex-direction: column-reverse;
            align-items: center;
            width: 90%; } }
        .projects-container .timeline-container section .text .btn-container .lang-container {
          display: none; }
          .projects-container .timeline-container section .text .btn-container .lang-container ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 20px; }
            .projects-container .timeline-container section .text .btn-container .lang-container ul li {
              margin: 0;
              list-style: disc; }
        .projects-container .timeline-container section .text .btn-container a {
          text-decoration: none;
          color: #1F2020; }
        .projects-container .timeline-container section .text .btn-container h2 {
          background: #B63C4B;
          border-radius: 5px;
          color: white;
          padding: 10px;
          font-size: 1.25em;
          letter-spacing: 2px;
          margin-right: 10px;
          box-shadow: 0px 2px 0 #a33643, 0px 2px 6px #ae3948; }
          @media only screen and (max-width: 1000px) {
            .projects-container .timeline-container section .text .btn-container h2 {
              margin: 5px;
              width: 160px;
              text-align: center; } }
          @media only screen and (max-width: 700px) {
            .projects-container .timeline-container section .text .btn-container h2 {
              width: auto; } }
          @media only screen and (max-width: 440px) {
            .projects-container .timeline-container section .text .btn-container h2 {
              width: 100%; } }
          .projects-container .timeline-container section .text .btn-container h2:hover {
            cursor: pointer;
            box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.75); }
          .projects-container .timeline-container section .text .btn-container h2 img {
            width: 17px; }

.contact-container {
  width: 100%;
  height: 100%; }
  .contact-container form {
    margin: 10px auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    box-sizing: border-box;
    background: linear-gradient(#B63C4B, #DECEBE);
    padding: 20px;
    border-radius: 5px; }
    @media only screen and (max-width: 1220px) {
      .contact-container form {
        width: 50%; } }
    @media only screen and (max-width: 1000px) {
      .contact-container form {
        width: 60%; } }
    @media only screen and (max-width: 780px) {
      .contact-container form {
        width: 70%;
        margin-top: 30px; } }
    @media only screen and (max-width: 700px) {
      .contact-container form {
        width: 80%; } }
    @media only screen and (max-width: 560px) {
      .contact-container form {
        margin-top: 90px; } }
    @media only screen and (max-width: 440px) {
      .contact-container form {
        width: 95%; } }
    .contact-container form h1 {
      text-align: center;
      font-family: "Raleway", sans-serif;
      margin: 0; }
    .contact-container form .name-container {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      @media only screen and (max-width: 440px) {
        .contact-container form .name-container {
          flex-direction: column; } }
    .contact-container form .input-block {
      position: relative;
      width: 100%; }
      .contact-container form .input-block label {
        position: absolute;
        top: 42px;
        left: 20px;
        font-family: "Raleway", sans-serif;
        color: #1F2020;
        width: 100%;
        transition: all .5s ease;
        z-index: 1; }
      .contact-container form .input-block input {
        position: relative;
        z-index: 2;
        background: rgba(255, 255, 255, 0.2);
        margin-top: 25px;
        width: 100%;
        padding: 5px 5px 5px 20px;
        box-sizing: border-box;
        height: 50px;
        outline: none;
        border: none; }
      .contact-container form .input-block .send-btn {
        background: #B63C4B;
        font-family: "Raleway", sans-serif;
        color: white;
        font-weight: bold;
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 5px;
        box-shadow: 0px 2px 0 #a33643, 0px 2px 6px #ae3948; }
        .contact-container form .input-block .send-btn:hover {
          box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.75); }
      .contact-container form .input-block textarea {
        position: relative;
        z-index: 2;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        margin-top: 20px;
        outline: none;
        resize: none;
        border: none;
        box-sizing: border-box;
        padding: 20px 5px 5px 20px;
        height: 100px; }

/*# sourceMappingURL=main.css.map */
