ul {
  display: flex;
  justify-content: flex-end; }
  ul .title {
    flex-grow: 2;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #1F2020; }
  ul .active {
    color: #DECEBE;
    padding-bottom: 8px;
    border-bottom: 3px solid #B63C4B; }
  ul li {
    margin: 15px;
    list-style: none; }
    ul li:hover {
      cursor: pointer; }
    ul li a {
      font-family: "Raleway", sans-serif;
      text-decoration: none;
      position: relative;
      display: inline-block;
      font-size: 19px;
      font-weight: 300;
      color: #1F2020;
      transition: color 0.2s ease;
      padding: 3px 0; }
      ul li a:hover {
        color: #DECEBE; }
        ul li a:hover::after, ul li a:hover::before {
          width: 100%;
          left: 0; }
    ul li a::after, ul li a::before {
      content: '';
      position: absolute;
      top: calc(100% + 5px);
      width: 0;
      right: 0;
      height: 3px; }
    ul li a::before {
      transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      background: #DECEBE; }
    ul li a::after {
      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: #B63C4B; }
  ul li:nth-child(4) {
    margin-right: 50px; }

.tabs {
  position: absolute;
  top: 29px;
  left: 360px;
  font-family: "Raleway", sans-serif; }
  .tabs li {
    border: 5px solid #DECEBE;
    padding: 15px;
    margin: 0;
    border-radius: 5px 5px 0 0; }
    .tabs li:hover {
      background: #DECEBE;
      transform: scale(1.1) translateY(-3px); }
  .tabs .active {
    background: white;
    z-index: 1;
    border-bottom: 5px solid white;
    color: #1F2020;
    transform: scale(1.1) translateY(-2.5px); }

.aboutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .aboutContainer .left {
    box-sizing: border-box;
    margin-left: 56px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border: 5px solid rgba(222, 206, 190, 0.5);
    border-radius: 5px;
    height: 77vh;
    background: linear-gradient(rgba(182, 60, 75, 0.3), rgba(182, 60, 75, 0.7)); }
    .aboutContainer .left .headshot {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75); }
    .aboutContainer .left .linkContainer {
      display: flex;
      flex-direction: column; }
      .aboutContainer .left .linkContainer .resume {
        margin-bottom: 30px;
        text-decoration: none;
        color: #1F2020;
        font-family: "Raleway", sans-serif;
        font-weight: bold; }
        .aboutContainer .left .linkContainer .resume:hover {
          color: #B63C4B; }
      .aboutContainer .left .linkContainer .logo-box {
        display: flex;
        justify-content: space-between; }
        .aboutContainer .left .linkContainer .logo-box img {
          width: 35px;
          padding: 10px;
          border-radius: 5px; }
          .aboutContainer .left .linkContainer .logo-box img:hover {
            background: rgba(182, 60, 75, 0.5); }
  .aboutContainer .right {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 67%;
    margin-left: 56px;
    border: 5px solid rgba(222, 206, 190, 0.5);
    border-radius: 5px;
    height: 77vh;
    font-family: "Raleway", sans-serif;
    padding: 30px;
    background: linear-gradient(white, rgba(222, 206, 190, 0.3)); }
    .aboutContainer .right .skills {
      width: 93%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5px;
      height: 87%;
      font-family: "Raleway", sans-serif;
      padding: 30px;
      background: white;
      display: none; }
      .aboutContainer .right .skills .skills-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        color: #1F2020; }
        .aboutContainer .right .skills .skills-container section {
          width: 33.33%;
          box-sizing: border-box;
          padding: 0 15px 15px; }
          .aboutContainer .right .skills .skills-container section h2 {
            margin: 0 0 15px; }
          .aboutContainer .right .skills .skills-container section li {
            list-style: none;
            margin-bottom: 5px; }
            .aboutContainer .right .skills .skills-container section li:hover {
              transform: scale(1.2);
              cursor: pointer; }
            .aboutContainer .right .skills .skills-container section li:hover > span {
              display: block; }
            .aboutContainer .right .skills .skills-container section li span {
              color: #B63C4B;
              display: none; }
          .aboutContainer .right .skills .skills-container section .beginner:before {
            content: '';
            margin-right: 5px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgba(182, 60, 75, 0.5); }
          .aboutContainer .right .skills .skills-container section .intermediate:before {
            content: '';
            margin-right: 5px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #B63C4B; }
          .aboutContainer .right .skills .skills-container section .advanced:before {
            content: '';
            margin-right: 5px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #69232b; }
      .aboutContainer .right .skills .guide {
        position: absolute;
        display: flex;
        right: 0;
        bottom: 0; }
        .aboutContainer .right .skills .guide p {
          margin: 15px 20px; }
        .aboutContainer .right .skills .guide p:nth-child(1):before {
          content: '';
          margin-right: 5px;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: rgba(182, 60, 75, 0.5); }
        .aboutContainer .right .skills .guide p:nth-child(2):before {
          content: '';
          margin-right: 5px;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #B63C4B; }
        .aboutContainer .right .skills .guide p:nth-child(3):before {
          content: '';
          margin-right: 5px;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #69232b; }
    .aboutContainer .right .interests {
      width: 93%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5px;
      height: 87%;
      font-family: "Raleway", sans-serif;
      padding: 30px;
      background: white;
      display: none; }
    .aboutContainer .right .title {
      font-family: "Raleway", sans-serif;
      color: rgba(182, 60, 75, 0.75);
      font-size: 1.5em;
      font-weight: bold;
      margin: 0; }
    .aboutContainer .right .statement {
      font-size: 1.1em;
      line-height: 1.25em; }
      .aboutContainer .right .statement span {
        color: #B63C4B; }
      .aboutContainer .right .statement a {
        text-decoration: none;
        font-weight: bold;
        color: #1F2020; }
        .aboutContainer .right .statement a:hover {
          color: #B63C4B; }
    .aboutContainer .right .icon-box {
      display: flex;
      justify-content: space-around; }
      .aboutContainer .right .icon-box .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
        margin-right: 20px; }
        .aboutContainer .right .icon-box .icon p {
          color: #B63C4B;
          font-weight: bold; }
        .aboutContainer .right .icon-box .icon .detail {
          color: #1F2020;
          font-weight: normal;
          font-size: 1em;
          margin: 0; }
        .aboutContainer .right .icon-box .icon img {
          height: 40px; }
      .aboutContainer .right .icon-box .icon:nth-child(3) {
        margin-right: 0; }

.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .homeContainer p {
    position: absolute;
    top: 65px;
    left: 56px;
    width: 27%;
    font-family: "Raleway", sans-serif;
    color: rgba(182, 60, 75, 0.75);
    font-size: 1.5em; }
  .homeContainer .hero {
    width: 33%;
    border-radius: 50%;
    padding: 65px 10px;
    background: #DECEBE; }

.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-family: "Raleway", sans-serif; }
  .projects-container .project-nav {
    display: flex; }
  .projects-container .line {
    width: 5px;
    position: absolute;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: -1; }
  .projects-container .timeline-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 5px solid #DECEBE;
    background: linear-gradient(to right, white, rgba(222, 206, 190, 0.5));
    padding: 15px; }
    .projects-container .timeline-container section {
      display: flex;
      padding: 30px 0;
      width: 100%;
      justify-content: space-around; }
      .projects-container .timeline-container section .project-img {
        width: 500px;
        transition: all 0.5s ease;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75); }
        .projects-container .timeline-container section .project-img:hover {
          transform: scale(1.5) translateX(20%); }
      .projects-container .timeline-container section .left-container {
        width: 42%; }
      .projects-container .timeline-container section .marker img {
        width: 40px;
        background: white;
        border-radius: 50%;
        margin-left: 40px; }
      .projects-container .timeline-container section .right-container {
        width: 42%;
        margin-left: 40px; }
      .projects-container .timeline-container section .text .btn-container {
        display: flex; }
        .projects-container .timeline-container section .text .btn-container .lang-container {
          display: none; }
        .projects-container .timeline-container section .text .btn-container h2 {
          background: rgba(182, 60, 75, 0.5);
          border-radius: 5px;
          padding: 5px; }
          .projects-container .timeline-container section .text .btn-container h2 img {
            width: 17px; }

/*# sourceMappingURL=main.css.map */
