.tabs {
    position: absolute;
    top: 29px;
    left: 360px;
    font-family: $raleway;

    @include media(desktop) {
      left: 300px;
    }

    @include media(desktopSmall) {
      left: 50px;
      margin-top: 66px;
    }

    @include media(tabletLarge) {
      margin-top: 56px;
    }

    @include media(tablet) {
      margin-top: 0;
      top: 415px;
    }

    @include media(mobileLarge) {
      top: 570px;
    }

    @include media(mobile) {
      top: 581px;
      left: -7px
    }

    li {
        border: 5px solid $cream;
        padding: 15px;
        margin: 0;
        border-radius: 5px 5px 0 0;

        @include media(mobile) {
          padding: 10px;
        }

        &:hover {
            background: $cream;
            transform: scale(1.1) translateY(-3px);
        }
    }

    .active {
        background: white;
        z-index: 1;
        border-bottom: 5px solid white;
        color: $charcoal;
        transform: scale(1.1) translateY(-2.5px);
    }
}

.aboutContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include media(tablet) {
      flex-direction: column;
    }

    .left {
        box-sizing: border-box;
        margin-left: 56px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 20%;
        border-radius: 5px;
        height: 77vh;
        background: linear-gradient($pink, $cream, white);

        @include media(desktop) {
          position: absolute;
          right: 40px;
          top: 100px;
          justify-content: flex-start;
        }

        @include media(desktopSmall) {
          top: 138px;
        }

        @include media(tablet) {
          position: static;
          flex-direction: row;
          margin: 15px 0;
          height: 300px;
          width: 85%;
          justify-content: space-around;
        }

        @include media(mobileLarge) {
          flex-direction: column;
          height: 400px;
          margin-top: 70px;
        }

        @include media(mobile) {
          width: 95%;
        }

        .headshot {
            width: 100%;
            border-radius: 50%;
            box-shadow: $black-shadow;
            margin-bottom: 50px;

            @include media(tablet) {
              width: 50%;
            }
        }

        .linkContainer {
            display: flex;
            flex-direction: column;

            .resume {
                margin-bottom: 30px;
                text-decoration: none;
                color: $charcoal;
                font-family: $raleway;
                font-weight: bold;
                background: rgba($pink, .5);
                padding: 10px;
                border-radius: 5px;

                @include media(desktopSmall) {
                  text-align: center;
                }

                &:hover {
                  background: $pink;
                }
            }

            .logo-box {
                display: flex;
                justify-content: space-between;

                img {
                    width: 35px;
                    padding: 10px;
                    border-radius: 5px;

                    &:hover {
                        background: rgba($pink, .5);
                    }
                }
            }
        }
    }

    .right {
        box-sizing: border-box;
        display: flex;
        position: relative;
        flex-direction: column;
        width: 67%;
        margin-left: 56px;
        border: 5px solid rgba($cream, .5);
        border-radius: 5px;
        height: 77vh;
        font-family: $raleway;
        padding: 30px;

        @include media(desktop) {
          height: auto;
        }

        @include media(desktopSmall) {
          margin-top: 50px;
          width: 65%;
        }

        @include media(tablet) {
          margin-top: 50px;
          margin-left: 0;
          width: 85%;
        }

        @include media(mobile) {
          width: 95%;
        }

        .skills {
            width: 93%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            height: 87%;
            font-family: $raleway;
            padding: 30px;
            background: white;
            display: none;

            @include media(desktop) {
              width:89%;
            }

            @include media(desktopSmall) {
              width: 86%;
              height: 90%;
            }

            @include media(tabletLarge) {
              height: 93%;
            }

            @include media(mobileLarge) {
              width: 81%;
            }

            .skills-container {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                color: $charcoal;

                section {
                    width: 33.33%;
                    box-sizing: border-box;
                    padding: 0 15px 15px;

                    @include media(desktopSmall) {
                      width: 50%;
                    }

                    @include media(mobileLarge) {
                      width: 100%;
                    }

                    h2 {
                        margin: 0 0 15px;
                    }

                    li {
                        list-style: none;
                        margin-bottom: 5px;

                        &:hover {
                            transform: scale(1.2);
                            cursor: pointer;
                        }

                        &:hover > span {
                            display: block;
                        }

                        span {
                            color: $pink;
                            display: none;
                        }
                    }

                    .beginner {
                        &:before {
                            @include dot(rgba($pink, .5)) {}
                        }
                    }

                    .intermediate {
                        &:before {
                            @include dot($pink) {}
                        }
                    }

                    .advanced {
                        &:before {
                            @include dot(darken($pink, 20%)) {}
                        }
                    }
                }
            }

            .guide {
              position: absolute;
              display: flex;
              right: 0;
              bottom: 0;

              @include media(mobile) {
                flex-direction: column;
                left: 25px;
              }

              p {
                margin: 15px 20px;;
              }

              p:nth-child(1) {
                &:before {
                  @include dot(rgba($pink, .5)) {}
                }
              }

              p:nth-child(2) {
                &:before {
                  @include dot($pink) {}
                }
              }

              p:nth-child(3) {
                &:before {
                  @include dot(darken($pink, 20%)) {}
                }
              }
            }
        }

        .interests {
            width: 93%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            height: 87%;
            font-family: $raleway;
            padding: 30px;
            background: white;
            display: none;

            @include media(desktop) {
              width:89%;
            }

            @include media(desktopSmall) {
              width: 86%;
              height: 90%;
            }

            @include media(tabletLarge) {
              height: 93%;
            }

            @include media(mobileLarge) {
              width: 81%;
            }
        }

        .title {
            font-family: $raleway;
            color: rgba($pink, .75);
            font-size: 1.5em;
            font-weight: bold;
            margin: 0;
        }

        .statement {
            font-size: 1.1em;
            line-height: 1.25em;

            span {
                color: $pink;
            }

            a {
                text-decoration: none;
                font-weight: bold;
                color: $charcoal;

                &:hover {
                    color: $pink;
                }
            }
        }

        .icon-box {
            display: flex;
            justify-content: space-around;

            @include media(desktopSmall) {
              flex-wrap: wrap;
            }

            .icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33.33%;
                margin-right: 20px;

                @include media(desktopSmall) {
                  width: 100%;
                }

                p {
                    color: $pink;
                    font-weight: bold;
                }

                .detail {
                    color: $charcoal;
                    font-weight: normal;
                    font-size: 1em;
                    margin: 0;

                    @include media(desktopSmall) {
                      margin-bottom: 20px;
                    }
                }

                img {
                    height: 40px;
                }
            }

            .icon:nth-child(3) {
                margin-right: 0;
            }
        }
    }
}
