.tabs {
    position: absolute;
    top: 29px;
    left: 360px;
    font-family: $raleway;

    li {
        border: 5px solid $cream;
        padding: 15px;
        margin: 0;
        border-radius: 5px 5px 0 0;

        &:hover {
            background: $cream;
            transform: scale(1.1) translateY(-3px);
        }
    }

    .active {
        background: white;
        z-index: 1;
        border-bottom: 5px solid white;
        color: $charcoal;
        transform: scale(1.1) translateY(-2.5px);
    }
}

.aboutContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .left {
        box-sizing: border-box;
        margin-left: 56px;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 20%;
        border-radius: 5px;
        height: 77vh;
        background: linear-gradient(rgba($pink, .3), rgba($pink, .7));

        .headshot {
            width: 100%;
            border-radius: 50%;
            box-shadow: $box-shadow;
        }

        .linkContainer {
            display: flex;
            flex-direction: column;

            .resume {
                margin-bottom: 30px;
                text-decoration: none;
                color: $charcoal;
                font-family: $raleway;
                font-weight: bold;

                &:hover {
                    color: $pink;
                }
            }

            .logo-box {
                display: flex;
                justify-content: space-between;

                img {
                    width: 35px;
                    padding: 10px;
                    border-radius: 5px;

                    &:hover {
                        background: rgba($pink, .5);
                    }
                }
            }
        }
    }

    .right {
        box-sizing: border-box;
        display: flex;
        position: relative;
        flex-direction: column;
        width: 67%;
        margin-left: 56px;
        border: 5px solid rgba($cream, .5);
        border-radius: 5px;
        height: 77vh;
        font-family: $raleway;
        padding: 30px;
        background: linear-gradient(white, rgba($cream, .3));

        .skills {
            width: 93%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            height: 87%;
            font-family: $raleway;
            padding: 30px;
            background: white;
            display: none;

            .skills-container {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                color: $charcoal;

                section {
                    width: 33.33%;
                    box-sizing: border-box;
                    padding: 0 15px 15px;

                    h2 {
                        margin: 0 0 15px;
                    }

                    li {
                        list-style: none;
                        margin-bottom: 5px;

                        &:hover {
                            transform: scale(1.2);
                            cursor: pointer;
                        }

                        &:hover > span {
                            display: block;
                        }

                        span {
                            color: $pink;
                            display: none;
                        }
                    }

                    .beginner {
                        &:before {
                            @include dot(rgba($pink, .5)) {}
                        }
                    }

                    .intermediate {
                        &:before {
                            @include dot($pink) {}
                        }
                    }

                    .advanced {
                        &:before {
                            @include dot(darken($pink, 20%)) {}
                        }
                    }
                }
            }

            .guide {
              position: absolute;
              display: flex;
              right: 0;
              bottom: 0;

              p {
                margin: 15px 20px;;
              }

              p:nth-child(1) {
                &:before {
                  @include dot(rgba($pink, .5)) {}
                }
              }

              p:nth-child(2) {
                &:before {
                  @include dot($pink) {}
                }
              }

              p:nth-child(3) {
                &:before {
                  @include dot(darken($pink, 20%)) {}
                }
              }
            }
        }

        .interests {
            width: 93%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            height: 87%;
            font-family: $raleway;
            padding: 30px;
            background: white;
            display: none;
        }

        .title {
            font-family: $raleway;
            color: rgba($pink, .75);
            font-size: 1.5em;
            font-weight: bold;
            margin: 0;
        }

        .statement {
            font-size: 1.1em;
            line-height: 1.25em;

            span {
                color: $pink;
            }

            a {
                text-decoration: none;
                font-weight: bold;
                color: $charcoal;

                &:hover {
                    color: $pink;
                }
            }
        }

        .icon-box {
            display: flex;
            justify-content: space-around;

            .icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33.33%;
                margin-right: 20px;

                p {
                    color: $pink;
                    font-weight: bold;
                }

                .detail {
                    color: $charcoal;
                    font-weight: normal;
                    font-size: 1em;
                    margin: 0;
                }

                img {
                    height: 40px;
                }
            }

            .icon:nth-child(3) {
                margin-right: 0;
            }
        }
    }
}
