
ul {
  display: flex;
  justify-content: flex-end;

  .title {
    flex-grow: 2;
    font-family: $raleway;
    font-weight: bold;
    font-size: 2em;
    color: $charcoal;
  }

  .active {
    padding-bottom: 8px;
    border-bottom: 3px solid $pink;
  }

  .nav-container {
    display: flex;

    @include media(tablet) {
      display: none;
      flex-direction: column;
      text-align: center;
      position: absolute;
      right: 20px;
      background: linear-gradient($pink, $cream);
      border-radius: 5px;
      z-index: 2;
    }

    @include media(mobile) {
      top: 70px;
      left: 50%;
      width: 100px;
      transform: translateX(-50%);
    }
  }

  .mobile-menu {
    display: none;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    position: absolute;
    top: 15px;
    right: 40px;

    @include media(tablet) {
      display: block;
      z-index: 3;
    }

    @include media(mobile) {
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  li {
    margin: 15px;
    list-style: none;

    @include media(tabletLarge) {
      margin: 10px;
    }

    &:hover {
      cursor: pointer;
    }

    a {
      font-family: $raleway;
      text-decoration: none;
      position: relative;
      display: inline-block;
      font-size: 19px;
      font-weight: 300;
      color: $charcoal;
      transition: color 0.2s ease;
      padding: 3px 0;

      &:hover {

          &::after,
          &::before {
              width: 100%;
              left: 0;
          }
      }
    }

    a {
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: calc(100% + 5px);
            width: 0;
            right: 0;
            height: 3px;
        }

        &::before {
            transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
            background: $cream;
        }

        &::after {
            transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
            background: $pink;
        }
    }
  }

  .home {
    @include media(tablet) {
      margin-top: 75px;
    }
  }

  li:nth-child(5) {
    margin-right: 50px;

    @include media(tablet) {
      margin-right: 10px;
    }
  }
}
