
ul {
  display: flex;
  justify-content: flex-end;

  .title {
    flex-grow: 2;
    font-family: $raleway;
    font-weight: bold;
    font-size: 2em;
    color: $charcoal;
  }

  .active {
    padding-bottom: 8px;
    border-bottom: 3px solid $pink;
  }

  li {
    margin: 15px;
    list-style: none;

    &:hover {
      cursor: pointer;
    }

    a {
      font-family: $raleway;
      text-decoration: none;
      position: relative;
      display: inline-block;
      font-size: 19px;
      font-weight: 300;
      color: $charcoal;
      transition: color 0.2s ease;
      padding: 3px 0;

      &:hover {
          color: $cream;

          &::after,
          &::before {
              width: 100%;
              left: 0;
          }
      }
    }

    a {
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: calc(100% + 5px);
            width: 0;
            right: 0;
            height: 3px;
        }

        &::before {
            transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
            background: $cream;
        }

        &::after {
            transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
            background: $pink;
        }
    }
  }

  li:nth-child(4) {
    margin-right: 50px;
  }
}
