.projects-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-family: $raleway;

    .project-nav {
        display: flex;
    }

    .line {
        width: 5px;
        position: absolute;
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: -1;
    }

    .timeline-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 15px;
        box-shadow: 0px 0px 15px 2px rgba($pink, .5);

        section {
            display: flex;
            padding: 30px 0;
            width: 100%;
            justify-content: space-around;

            .project-img {
                width: 500px;
                transition: all 0.5s ease;
                box-shadow: $box-shadow;
                margin: 0 20px;

                &:hover {
                    transform: scale(1.5) translateX(20%);
                }
            }

            .left-container {
                width: 42%;
            }

            .marker {
                img {
                    width: 40px;
                    background: white;
                    border-radius: 50%;
                    margin-left: 40px;
                }
            }

            .right-container {
                width: 42%;
                margin-left: 40px;
            }

            .text {
                .btn-container {
                  display: flex;

                    .lang-container {
                        display: none;

                        ul {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            width: 20px;

                            li {
                                margin: 0;
                                list-style: disc;
                            }
                        }
                    }

                    a {
                      text-decoration: none;
                      color: $charcoal;
                    }

                    h2 {
                        background: rgba($pink, .5);
                        border-radius: 5px;
                        padding: 5px;
                        margin-right: 10px;

                        &:hover {
                          cursor: pointer;
                          background: $pink;
                        }

                        img {
                            width: 17px;
                        }
                    }
                }
            }
        }
    }
}
