// Colors
$pink: #B63C4B;
$cream: #DECEBE;
$charcoal: #1F2020;
// Fonts
$raleway: 'Raleway', sans-serif;


// Other
$black-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
$btn-shadow: 0px 2px 0 darken($pink, 5%), 0px 2px 6px darken($pink, 2%);
$btn-hover-shadow: 1px 1px 2px rgba(white, .75);
$transition: all .5s ease;
